{
  "presets": [
    "@babel/env",
    "@babel/typescript"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
