@font-face {
    font-family: OpenSans-Bold;
    src: url(./OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(./OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(./OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url(./OpenSans-SemiBold.ttf);
}
