#eterna-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#pixi-container {
    position: relative;
    z-index: 0;
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(./Fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(./Fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(./Fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url(./Fonts/OpenSans-SemiBold.ttf);
}

.ingame-chat {
    width: 230px;
    height: 340px;
    position: absolute;
    top: 140px;
    right: 10px;
    border: 1px solid rgba(47, 148, 209, 0.9);
    border-radius: 5px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

@media (max-height: 510px) {
    .ingame-chat {
        width: 30%;
        min-width: 230px;
        height: 85%;
        top: 5px;
        right: 5px;
    }
}
