@import url(../Fonts/fonts.css);

body {
    overflow: hidden;
}

#maingame {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse, rgb(2, 38, 76) 0%, rgb(3, 27, 60) 70%);
}

#maingame canvas {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#eterna-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    overflow-wrap: break-word;
}

#pixi-container {
    position: relative;
    z-index: 0;
}

.ingame-chat {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.eterna-input {
    box-sizing: border-box;
}

.eterna-character-limited-input-container {
    position: relative;
}

.eterna-character-limited-input-radial-progress-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eterna-character-limited-input-radial-progress-bar svg {
    background-color: #E8E8E8;
}

.eterna-input::placeholder {
    /* If you update this, make sure to also change it in TextInputObject.ts */
    color: #777777;
}

.eterna-support-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    padding: 0 10%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.scroll-container-wrapper {
    pointer-events: none;
}

.scroll-container-wrapper > * {
    pointer-events: all;
    touch-action: none;
}

