@import url(../Fonts/fonts.css);

body {
    overflow: hidden;
}

#maingame {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: radial-gradient(ellipse, rgb(2, 38, 76) 0%, rgb(3, 27, 60) 70%);
}

#eterna-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    overflow-wrap: break-word;
}

#pixi-container {
    position: relative;
    z-index: 0;
}

.ingame-chat {
    width: 230px;
    height: 340px;
    position: absolute;
    top: 404px;
    right: 10px;
    border: 1px solid rgba(47, 148, 209, 0.9);
    border-radius: 5px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.ngl-view {
    width: 230px;
    height: 340px;
    position: absolute;
    top: 60px;
    right: 10px;
    border: 1px solid rgba(47, 148, 209, 0.9);
    border-radius: 5px;
}

.ngl-view-blur {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

@media (max-height: 510px) {
    .ingame-chat {
        width: unset;
        min-width: 40%;
        height: 100%;
        border: none;
        border-radius: 0px;
        top: 0px;
        right: 0px;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        background-color: rgba(0, 16, 38, 1) !important;
    }
}

.eterna-input {
    box-sizing: border-box;
}

.eterna-character-limited-input-container {
    position: relative;
}

.eterna-character-limited-input-radial-progress-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eterna-character-limited-input-radial-progress-bar svg {
    background-color: #E8E8E8;
}

.eterna-input::placeholder {
    /* If you update this, make sure to also change it in TextInputObject.ts */
    color: #777777;
}

.eterna-support-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    padding: 0 10%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.scroll-container-wrapper {
    pointer-events: none;
}

.scroll-container-wrapper > * {
    pointer-events: all;
    touch-action: none;
}

