<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8">
    <title>EternaJS</title>
    
</head>
<body style="margin: 0; padding: 0; height: 100%;">

<!-- Scripts expect that an element with "maingame" will exist, so this name shouldn't be changed -->
<div id="maingame" style="width: 100%; height: 100%; overflow: hidden; background-image: radial-gradient(circle, rgb(50, 69, 109) 0%, rgb(6, 26, 52) 75%)"></div>

<!-- Load our webpack bundles -->
<%= htmlWebpackPlugin.tags.bodyTags %>

<script>
    const containerID = "maingame";
    const appContainer = document.getElementById(containerID);
    const params = new URLSearchParams(window.location.search);

    const app = new EternaApp({
        containerID: containerID,
        width: appContainer.clientWidth,
        height: appContainer.clientHeight,
        mode: 'puzzle',
		
		puzzlePath: params.get('puzzlePath') || 'puzzle-1.1.json',
        puzzlesRoot: '/puzzles'
    });
    window.app = app;
    app.run();

    window.addEventListener("resize", () => {
        app.resize(appContainer.clientWidth, appContainer.clientHeight);
    });
</script>
</body>
</html>
