<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EternaJS</title>

    <!--
    These scripts are all grabbed from https://github.com/EteRNAgame/website/tree/master/frontend
    -->

    <link type="text/css" rel="stylesheet" media="all" href="./frontend/themes/css/eterna.css" />

    <script src="./frontend/jscripts/jquery/jquery-1.7.2.min.js"></script>
    <script src="./frontend/jscripts/jquery/jquery-unselectable.js"></script>
    <script src="./frontend/jscripts/jquery-ui/jquery-ui-1.8.7.custom.min.js"></script>
    <script src="./frontend/jscripts/json/json2.js"></script>
    <script src="./frontend/jscripts/jquery-form/jquery.form.js"></script>
    <script src="./frontend/jscripts/table/jquery.dataTables.js"></script>
    <script src="./frontend/jscripts/table/jquery.dataTables.columnFilter.js"></script>
    <script src="./frontend/jscripts/table/ColReorder.min.js"></script>
    <script src="./frontend/jscripts/editor/codemirror.js"></script>
    <script src="./frontend/jscripts/editor/javascript.js"></script>
    <script src="./frontend/jscripts/jquery-slides/jquery.slides.min.js"></script>
    <script src="./frontend/jscripts/slick/slick.min.js"></script>
    <script src="./frontend/jscripts/jquery-countdown/jquery.countdown.min.js"></script>
    <script src="./frontend/jscripts/jquery-countdown/moment.js"></script>
    <script src="./frontend/jscripts/jquery-countdown/moment-timezone-with-data-2010-2020.min.js"></script>
    <script src="./frontend/jscripts/fireworks/fireworks.js"></script>

    <script src="./frontend/jscripts/application.js"></script>
    <script src="./frontend/jscripts/content.js"></script>
    <script src="./frontend/jscripts/utils.js"></script>
    <script src="./frontend/jscripts/ajaxmanager.js"></script>
    <script src="./frontend/jscripts/callbackmanager.js"></script>
    <script src="./frontend/jscripts/cookiemanager.js"></script>
    <script src="./frontend/jscripts/datamanager.js"></script>
    <script src="./frontend/jscripts/usermanager.js"></script>
    <script src="./frontend/jscripts/packer.js"></script>
    <script src="./frontend/jscripts/packer-gallery.js"></script>
    <script src="./frontend/jscripts/page.js"></script>
    <script src="./frontend/jscripts/block.js"></script>
    <script src="./frontend/jscripts/blockmanager.js"></script>
    <script src="./frontend/jscripts/themecompiler.js"></script>
    <script src="./frontend/jscripts/jquery-polystory.js"></script>
    <script src="./frontend/jscripts/overlay.js"></script>

    <script src="./frontend/jscripts/eterna/eterna-application.js"></script>
    <script src="./frontend/jscripts/eterna/eterna-utils.js"></script>
    <script src="./frontend/jscripts/eterna/builder-comments.js"></script>
    <script src="./frontend/jscripts/eterna/builder-script.js"></script>
    <script src="./frontend/jscripts/eterna/script-library.js"></script>
    <script src="./frontend/jscripts/eterna/script-interface.js"></script>
    <script src="./frontend/jscripts/eterna/builder-etc.js"></script>
    <script src="./frontend/jscripts/eterna/builder-labs.js"></script>
    <script src="./frontend/jscripts/eterna/builder-login.js"></script>
    <script src="./frontend/jscripts/eterna/builder-me.js"></script>
    <script src="./frontend/jscripts/eterna/builder-news.js"></script>
    <script src="./frontend/jscripts/eterna/builder-players.js"></script>
    <script src="./frontend/jscripts/eterna/builder-puzzles.js"></script>
    <script src="./frontend/jscripts/eterna/builder-roadmap.js"></script>
    <script src="./frontend/jscripts/eterna/builder-widgets.js"></script>
    <script src="./frontend/jscripts/eterna/presenter.js"></script>
    <script src="./frontend/jscripts/eterna/roadmap.js"></script>
    <script src="./frontend/jscripts/eterna/builder-blog.js"></script>
    <script src="./frontend/jscripts/eterna/builder-group.js"></script>
    <script src="./frontend/jscripts/eterna/builder-test.js"></script>
    <script src="./frontend/jscripts/eterna/builder-aayush.js"></script>
    <script src="./frontend/jscripts/eterna/builder-mikebaoprofile.js"></script>
    <script src="./frontend/jscripts/eterna/builder-about.js"></script>
    <script src="./frontend/jscripts/eterna/builder-browser.js"></script>
    <script src="./frontend/jscripts/eterna/builder-tutscripts.js"></script>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>
<body>
<!-- Scripts expect that an element with "maingame" will exist, so this name shouldn't be changed -->
<div id="maingame" style="width: 100%; height: 100%; overflow: hidden"></div>

<!-- Load our webpack bundles -->
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

<script>
    const params = new URLSearchParams(window.location.search);
    const numberParam = (name) => params.has(name) ? Number(params.get(name)) : undefined;

    const containerID = "maingame";
    const appContainer = document.getElementById(containerID);

    const app = new EternaApp({
        containerID: containerID,
        width: appContainer.clientWidth,
        height: appContainer.clientHeight,

        mode: params.get("mode"),
        puzzleID: numberParam("puzzle"),
        solutionID: numberParam("solution"),
        puzzleEditNumTargets: numberParam("puzzleEditNumTargets"),
        folderName: params.get("folder"),
        sequence: params.get("sequence"),
    });
    window.app = app;
    app.run();

    window.addEventListener("resize", () => {
        app.resize(appContainer.clientWidth, appContainer.clientHeight);
    });
</script>
</body>
</html>
